{:paths   ["src/main/clojure"]
 :aliases {:dev {:extra-paths ["src/dev/clojure"]
                 :extra-deps  {thheller/shadow-cljs {:mvn/version "2.22.10"}
                               hiccup/hiccup        {:mvn/version "1.0.5"}
                               garden/garden        {:git/url "https://github.com/noprompt/garden"
                                                     :sha     "05590ecb5f6fa670856f3d1ab400aa4961047480"}}}}}
